@import url("utils/utilities.css");

#app {
    background: url("https://res.cloudinary.com/citywizz/image/upload/v1635846833/brunch_ocuzxg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
}

form{
    margin: auto;
    background-color: #F0FFFF;
    padding: 1rem;
}

form h2{
    color: #315A76;
    text-transform: uppercase;
    text-align: center;
}
.form-row input{
    outline: none;
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0.2rem auto;
}

.form-row button{
    border:none;
    color: white;
    background-color: #315A76;
    height: 40px;
    cursor: pointer;
    margin: 0.5rem;
    width: 100%;
}